<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 
	<!-- Gmail SMTP server properties --> 
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="extendedwicked@gmail.com" />
		<property name="password" value="rs192011" />
	 
		<property name="javaMailProperties">
		   <props>
		   	  <prop key="mail.transport.protocol">smtp</prop>
	   	      <prop key="mail.smtp.auth">true</prop>
	   	      <prop key="mail.smtp.starttls.enable">true</prop>
	   	   </props>
		</property>
	</bean>
	
	<!-- Yahoo SMTP server properties -->
<!-- 	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"> -->
<!-- 	        <property name="port" value="587"/> -->
<!-- 	        <property name="host" value="smtp.mail.yahoo.com"/>         -->
<!-- 	        <property name="username" value="yahoousername@yahoo.com"/> -->
<!-- 	        <property name="password" value="password"/> -->
<!-- 	        <property name="javaMailProperties"> -->
<!-- 	            <props> -->
<!-- 	                <prop key="mail.transport.protocol">smtp</prop> -->
<!-- 	                <prop key="mail.smtp.auth">true</prop> -->
<!-- 	                <prop key="mail.smtp.starttls.enable">true</prop> -->
<!-- 	                <prop key="mail.debug">true</prop> -->
<!-- 	            </props> -->
<!-- 	        </property> -->
<!-- 	</bean> -->
 
</beans>